Repository Alekskap2021/CourseApp: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix --max-warnings=0

Extend sb config
  configs/storybook/main.ts
  configs/storybook/preview.js
Due: prettier --write, eslint --fix --max-warnings=0

Added Text ui comp
  src/app/styles/variables/global.scss
  src/shared/ui/Text/Text.module.scss
  src/shared/ui/Text/Text.stories.tsx
  src/shared/ui/Text/Text.tsx
Due: stylelint --fix, prettier --write, eslint --fix --max-warnings=0

Rename RootState type to RootStore
  src/app/providers/Redux/ReduxProvider.tsx
  src/entities/Counter/model/selectors/getCounter/getCounter.test.ts
  src/entities/Counter/model/selectors/getCounter/getCounter.ts
  src/entities/Counter/model/selectors/getCounterValue/getCounterValue.test.ts
  src/shared/hooks/useAppSelector.ts
  src/shared/lib/tests/renderComponent.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Fix modal layout shifting
  src/shared/ui/Modal/Modal.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Added disabled btn style
  src/shared/ui/Button/Button.module.scss
Due: stylelint --fix, prettier --write

Added const file
  src/shared/const/localStorage.ts
Due: prettier --write, eslint --fix --max-warnings=0

Added sb decorators
  src/shared/configs/decorators/StoreDecorator.tsx
  src/shared/configs/decorators/TranslationsDecorator.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Added translations
  public/locales/en/authModal.json
  public/locales/en/translation.json
  public/locales/ru/authModal.json
  public/locales/ru/translation.json
Due: none

Implement User Auth store
  src/app/App.tsx
  src/app/providers/Redux/reduxConfig.ts
  src/entities/User/index.ts
  src/entities/User/model/selectors/getUserAuthData/getUserAuthData.ts
  src/entities/User/model/slice/userSlice.ts
  src/features/Auth/AuthByUsername/index.ts
  src/features/Auth/AuthByUsername/model/selectors/getAuthByUsernameStore/getAuthByUsernameStore.ts
  src/features/Auth/AuthByUsername/model/services/authByUsername.ts
  src/features/Auth/AuthByUsername/model/slice/authByUsernameSlice.ts
  src/features/Auth/AuthByUsername/types/loginSchema.ts
  src/features/Auth/AuthByUsername/ui/AuthByUsernameForm/AuthByUsernameForm.module.scss
  src/features/Auth/AuthByUsername/ui/AuthByUsernameForm/AuthByUsernameForm.stories.tsx
  src/features/Auth/AuthByUsername/ui/AuthByUsernameForm/AuthByUsernameForm.tsx
  src/widgets/Navbar/ui/Navbar.tsx
Due: stylelint --fix, prettier --write, eslint --fix --max-warnings=0

Added stories
  src/widgets/AppErrorFallback/ui/AppErrorFallback.stories.tsx
  src/widgets/Navbar/ui/Navbar.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

WIP: fix snapshots
  src/shared/ui/Modal/Modal.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

WIP: fix snapshots
  src/shared/configs/decorators/ThemeDecorator.tsx
  src/shared/ui/Modal/Modal.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

WIP: fix snapshots
  .github/workflows/main.yml
Due: none

WIP: fix snapshots
  .loki/reference/chrome_iphone7_shared_Modal_Dark.png
  .loki/reference/chrome_laptop_shared_Modal_Dark.png
Due: none

WIP: fix snapshots
  .github/workflows/main.yml
  src/shared/configs/decorators/ThemeDecorator.tsx
  src/shared/ui/Modal/Modal.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

WIP: fix snapshots
  .loki/reference/chrome_iphone7_shared_Modal_Dark.png
  .loki/reference/chrome_laptop_shared_Modal_Dark.png
  src/shared/configs/decorators/ThemeDecorator.tsx
Due: prettier --write, eslint --fix --max-warnings=0

WIP: fix snapshots
  .DS_Store
  .loki/reference/chrome_iphone7_shared_Modal_Dark.png
  .loki/reference/chrome_iphone7_shared_Modal_Primary.png
  .loki/reference/chrome_laptop_shared_Modal_Dark.png
  .loki/reference/chrome_laptop_shared_Modal_Primary.png
  src/shared/ui/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

WIP: fix snapshots
  .DS_Store
  .loki/reference/chrome_iphone7_shared_Modal_Dark.png
  .loki/reference/chrome_laptop_shared_Modal_Dark.png
  package.json
Due: none

DONE: fix snapshots
  .github/workflows/main.yml
  .loki/reference/chrome_iphone7_shared_Modal_Dark.png
  .loki/reference/chrome_iphone7_shared_Modal_Primary.png
  .loki/reference/chrome_laptop_shared_Modal_Dark.png
  .loki/reference/chrome_laptop_shared_Modal_Primary.png
  src/shared/ui/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.scss
  prettier --write: ((any of: *.scss) or (any of: *.{js,ts,tsx})) or (any of: .json)
  eslint --fix --max-warnings=0: any of: *.{js,ts,tsx}
